@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: white;
    color: #111827; 
  }
}
@theme {
  --color-brand-navy: #013B50;
  --color-brand-lime: #C7E160;
}
